<p id="notice"><%= notice %></p>

<h1>Listing Variable Types</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @variable_types.each do |variable_type| %>
      <tr>
        <td><%= variable_type.number %></td>
        <td><%= variable_type.name %></td>
        <td><%= variable_type.description %></td>
        <td><%= link_to 'Show', variable_type %></td>
        <td><%= link_to 'Edit', edit_variable_type_path(variable_type) %></td>
        <td><%= link_to 'Destroy', variable_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Variable type', new_variable_type_path %>
