<ul class="list-group">
  <h1 class="col-md-offset-4 logo">.</h1>


<h2>Your Current Customers are Listed Below</h2>
  <% @customers.each do |customer| %>
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="list-group list-group-item-success">
          <a href="/customers/<%= customer.id %>" class="list-group-item list-group-item-info">
            <span class="list-group-item list-group-item-danger"><%= customer.name %></span>
            Country: <span class="list-group-item list-group-item-info"><%= customer.country_name %></span>
            Time Interval, in months: <span class="list-group-item list-group-item-warning"><%= "question.interval" %></span>
            Default Answer: <span class="list-group-item list-group-item-warning"><%= "question.default_answer" %></span>
          </a>       
        </div>
      </div>
    </div>
  <% end %>

</ul>

<br>

<div class="col-md-offset-5">
  <%= link_to 'New Question', new_question_path, class: "btn btn-raised btn-primary" %>
  <%= link_to('New Customer', new_customer_path, class: "btn btn-success", data: { no_turbolink: true}) %>
</div>

<br>