<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :country_id %><br>
    <%= f.number_field :country_id, style: "width: 553px;"  %>
  </div>

  <div class="form-group">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname, style: "width: 553px;"  %>
  </div>

  <div class="form-group">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname, style: "width: 553px;"  %>
  </div>

  <div class="form-group">
    <%= f.label :fullname %><br>
    <%= f.text_field :name, style: "width: 553px;"  %>
  </div>

  <div class="form-group">
    <%= f.label :identification_number %><br>
    <%= f.text_field :identification_number, style: "width: 553px;"  %>
  </div>

  <div class="form-group">
    <%= f.label :identification_type %><br>
    <%= f.text_field :identification_type, style: "width: 553px;"  %>
  </div>

  <div class="row form-group">
    <div class="col-md-8">
      <div style="" class="panel-group collapse in" id="accordion1">
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title"><a class="" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">Display Custom Fields</a></h4>
            </div>
            <div style="" id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                  <% CustomerField.all.each do |field| %>
                    <div class="form-group">
                      <%= label_tag "#{field.field_name}" %><br>
                      <%= text_field_tag "#{field.field_name}"  %>
                    </div>
                  <% end %>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">Hide Custom Fields</a></h4>
            </div>
            <div style="height: 0px;" id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
              ...
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </div>
  

  <div class="actions">
    <%= f.submit "Add Customer", class: "btn btn-success" %>
  </div>
<% end %>
