<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :country_id %><br>
    <%= f.number_field :country_id, style: "width: 553px;"  %>
  </div>

  <div class="form-group">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname, style: "width: 553px;"  %>
  </div>

  <div class="form-group">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname, style: "width: 553px;"  %>
  </div>

  <div class="form-group">
    <%= f.label :fullname %><br>
    <%= f.text_field :name, style: "width: 553px;"  %>
  </div>

  <div class="form-group">
    <%= f.label :identification_number %><br>
    <%= f.text_field :identification_number, style: "width: 553px;"  %>
  </div>

  <div class="form-group">
    <%= f.label :identification_type %><br>
    <%= f.text_field :identification_type, style: "width: 553px;"  %>
  </div>

  <div class="actions">
    <%= f.submit "Update Customer", class: "btn btn-info btn-block" %>
  </div>
<% end %>
