<p id="notice"><%= notice %></p>

<ul class="list-group">
  
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
      	<h3> <%= @customer.name %> </h3>
        <div class="list-group list-group-item-info">
          <strong>
	      	<a href="/customers/<%= @customer.id %>" class="list-group-item list-group-item-info">
          		Customer's Name: <span class="list-group-item list-group-item-danger"><%= @customer.name %></span>
        	    Customer's Country Name: <span class="list-group-item list-group-item-danger"><%= @customer.country_name %></span>
              Country ID: <span class="list-group-item list-group-item-danger"><%= @customer.country_id %></span>              
            
              Customer's Identification Number: <span class="list-group-item list-group-item-danger"><%= @customer.identification_number %></span>
              Customer's Identification Type: <span class="list-group-item list-group-item-danger"><%= @customer.identification_type %></span>
              Firstname: <span class="list-group-item list-group-item-danger"><%= @customer.firstname %></span>
              Lastname: <span class="list-group-item list-group-item-danger"><%= @customer.lastname %></span>
          </a>
          </strong>       
        </div>
      </div>
    </div>
</ul>


<%= link_to 'Edit', edit_customer_path(@customer), class: "btn" %> |
<%= link_to 'Destroy', @customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> |
<%= link_to 'Back', customers_path, class: "btn btn-info" %>
