<p id="notice"><%= notice %></p>

<h1>Listing Bands</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bands.each do |band| %>
      <tr>
        <td><%= band.name %></td>
        <td><%= band.country %></td>
        <td><%= link_to 'Show', category_band_path(band.category, band) %></td>
        <td><%= link_to 'Edit', [:edit, band.category, band] %></td>
        <td><%= link_to 'Destroy', category_band_path(band.category, band), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Band', new_category_band_path(@category) %>
