<p id="notice"><%= notice %></p>

<h1>Listing Countries</h1>

<ul class="list-group">
  <% @countries.each do |country| %>
    
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="list-group list-group-item-info">
           <strong>
            <a href="/countries/<%= country.id %>" class="list-group-item list-group-item-info">
              Country: <span class="list-group-item list-group-item-danger"><%= country.name %></span>
              Country Index #: <span class="list-group-item list-group-item-info"><%= country.countrynumber %></span>
              
            </a> 
          </strong>
        </div>
      </div>
    </div>
  <% end %>

</ul>

<br>

<%= link_to 'New Country', new_country_path, class: "btn btn-raised btn-primary" %>
