<p id="notice"><%= notice %></p>

<h1>Listing Variables</h1>

<ul class="list-group">
  <% @variables.each do |variable| %>
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="list-group list-group-item-info">
          <a href="/categories/<%= variable.category.category_name %>/variables/<%= variable.id %>" class="list-group-item list-group-item-info">
            Variable type: <span class="list-group-item list-group-item-danger"><%= variable.variable_type %></span>
            Type name: <span class="list-group-item list-group-item-info"><%= variable.type_name %></span>
            Description: <span class="list-group-item list-group-item-warning"><%= variable.description %></span>
          </a>       
        </div>
      </div>
    </div>
  <% end %>

</ul>

<br>


<%= link_to 'New Variable', new_variable_path, class: "btn btn-raised btn-primary" %>


