<p id="notice"><%= notice %></p>

<h1>Listing Customer Fields</h1>

<ul class="list-group">
  <% @customer_fields.each do |customer_field| %>
    
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <div class="list-group">
           <strong>
            <a href="/customer_fields/<%= customer_field.id %>" class="list-group-item list-group-item-info">
              Field name: <span class="list-group-item list-group-item-danger"><%= customer_field.field_name %></span>
              Field type: <span class="list-group-item list-group-item-info"><%= customer_field.field_type %></span>
              Validity period: <span class="list-group-item list-group-item-info"><%= customer_field.validity_period %></span>
              Customer field: <span class="list-group-item list-group-item-info"><%= customer_field.customer_field_id %></span>
            </a> 
          </strong>
        </div>
      </div>
    </div>
  <% end %>

</ul>

<br>

<%= link_to 'New Customer field', new_customer_field_path, class: "btn btn-raised btn-primary" %>
